@model BillTracker.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminanlID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminanlID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvcDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvcDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSTHSTRefNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSTHSTRefNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerInstructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerInstructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvoiceNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
